@model UCPPAW.Models.Pembayaran

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Pembayaran</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TanggalBayar)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TanggalBayar)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdTransaksi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdTransaksi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TotalBayarNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TotalBayarNavigation.IdTransaksi)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.IdPembayaran">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
